__pycache__
*.dat
*.png
*.out
*.xmf
amr_*
Backtrace*
job.target
flashx
unitTest*
core*
__pycache__
*.ipynb_checkpoints
config.sh
software/AMReX
software/Flash-X
software/HDF5
software/FlashKit
boxmem
AMReX
Flash-X
FlashKit
HDF5
*jobnode.archive*
