__pycache__
*.dat
*.png
*.out
*.xmf
amr_*
Backtrace*
job.target
flashx
unitTest*
core*
__pycache__
*.ipynb_checkpoints
config.sh
software/amrex/AMReX
software/flashx/Flash-X
software/hdf5/HDF5
software/flashkit/FlashKit
software/hypre/HYPRE
software/ann/ANN
software/bittree/Bittree
boxmem
*jobnode.archive*
!software/flashx
